@import './utils/fonts';
@import './utils/mixins';

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grey-F8);

  * {
    box-sizing: border-box;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  font-family: var(--text-style-outfit);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grey-4F);
  scroll-behavior: smooth;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-text-fill-color: var(--color-grey-4F);
    box-shadow: var(--color-yellow);
    transition: background-color 5000s ease-in-out 0s;
  }
}

.title {
  font-family: var(--text-style-bebas);
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.border-text {
  -webkit-text-stroke: 1px var(--color-turquoise);
  -webkit-text-fill-color: transparent;

  @include onDesktop {
    -webkit-text-stroke: 1.5px var(--color-turquoise);
  }
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

:root {
  --color-turquoise: #03839e;
  --color-grey-4F: #4f4f4f;
  --color-grey-33: #333;
  --color-grey-82: #828282;
  --color-grey-BD: #bdbdbd;
  --color-grey-F8: #f8f8f8;
  --color-grey-E0: #e0e0e0;
  --color-yellow: #ffe339;
  --color-yellow-light: #ffec7a;
  --color-red: #eb5757;

  --text-style-bebas: 'Bebas Neue', sans-serif;
  --text-style-outfit: 'Outfit', sans-serif;

  --border-radius-8: 8px;
  --header-height: 70px;
  --footer-height: 140px;
}
