.header {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  background: linear-gradient(
    10deg,
    var(--color-turquoise),
    var(--color-yellow-light)
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
