.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: linear-gradient(10deg, var(--color-turquoise), var(--color-yellow-light));

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
