.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background: linear-gradient(
    10deg,
    var(--color-turquoise),
    var(--color-yellow-light)
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
